<main>
  <h1>Cybersecurity</h1>
  <figure>
    <img src="Images/Cybersecurity.jpg" />
    <figcaption>Image by <a href="https://pixabay.com/users/u_etaflffuni-35768468/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8783105">u_etaflffuni</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8783105">Pixabay</a></figcaption>
  </figure>
  <br />
  <br />
  <p>
    Cybersecurity focuses on protecting systems, networks, and sensitive data from cyber threats and attacks. As technology evolves, cybersecurity plays a crucial role in safeguarding digital assets and ensuring trust in online systems.
  </p>
  <h2>SOC Analyst</h2>
  <p>
    SOC stands for Security Operations Center.
    SOC's are <a href="https://www.springboard.com/blog/cybersecurity/soc-analyst-guide/">responsible for monitoring and auditing the company's systems.</a>
    They monitor the systems for any suspicious activity and respond to any incidents that occur.
    <br />
    <br />
    Within SOC there are three levels.
    <a href="https://www.cybersecurityjobsite.com/staticpages/10300/what-is-a-soc-analyst-and-how-do-you-become-one-/">A tier 1 SOC analyst will respond to alerts and carry out triage operations to determine what type of response, if any, is required</a>.
    A tier 2 SOC analyst <a href="https://www.splunk.com/en_us/blog/learn/soc-security-operation-center.html">will follow procedures to remediate the problem and repair any fallout, and they’ll flag certain issues for additional investigation</a>.
    Tier 3 is focused on <a href="https://www.cybersecurityjobsite.com/staticpages/10300/what-is-a-soc-analyst-and-how-do-you-become-one-/">proactive threat hunting</a>.
    These tiers generally reflect a person's expertise with Tier 3 being the experts and Tier 1 generally being entry-level analysts.
  </p>
  <h2>GRC Analyst</h2>
  <p>
    GRC stands for Governance, Risk, and Compliance.
    <a href="https://cybersn.com/role/governance-risk-and-compliance-analyst/">Governance Risk and Compliance Analysts ensure that an organization’s operations and procedures meet government and industry compliance standards</a>.
    This can include policies like HIPAA, PCI-DSS, and GDPR.
    <br />
    <br />
    GRC analysts are also responsible for ensuring that the company is following its own policies and procedures.
    This can include things like ensuring employees are following the company's security policies and procedures and making sure the company will <a href="https://prosple.com/career-planning/cybersecurity-careers-whats-it-like-to-be-a-grc-analyst">pass audits</a>.
  </p>
  <h2>Network Security Analyst</h2>
  <p>
    A network security analyst protects an organization's networks from threats, attacks, and unauthorized access.
    <a href="https://www.wgu.edu/career-guide/information-technology/network-security-analyst-career.html">They proactively analyze a computer's hardware applications, software programs, phone lines, and any other resources with an online connection.</a>
    This may include using tools such as WireShark, Nmap, TCPDump, etc and include configuring firewalls, VPNs, and IDS/IPS systems to protect and monitor the network.
    Many also may use penetration tools to test the network for vulnerabilities.
  </p>
  <h2>IAM Security</h2>
  <p>
    <a href="https://www.crowdstrike.com/en-us/cybersecurity-101/identity-protection/identity-access-management-iam/#:~:text=Identity%20and%20access%20management%20(IAM)%20is%20a%20cybersecurity%20framework%20in,Authenticate%20the%20user">IAM Security,</a> or Identity and Access Management Security, focuses on controlling how users access digital resources.
    People in this field ensure users have the appropriate permissions to resources and data.
    This explanation makes this field sound simple, but it is a very complex field because it requires a deep understanding of the systems and applications that are being used.
    If one does not know the systems and applications, they will not be able to properly configure permission and access controls.
    This could then lead to unauthorized access to sensitive data or resources.
  </p>
  <h2>Pentester</h2>
  <p>
    Pentester is probably the first thing that comes to mind when people think of cybersecurity.
    Pentesting is the process of testing a system for vulnerabilities and the only way to effectively do that is to attampt to "hack" the system.
    Some of the tools pentesters use are <a href="https://www.csoonline.com/article/551957/11-penetration-testing-tools-the-pros-use.html">Namp, WireShark, Metasploit, Burp Suite, and many more.</a>
    The most used OS for pentesting is Kali Linux because it comes preinstalled with many of these applications making updating and installing them much easier.
    It is important to note that pentesters only test systems that they have permission to test. If they do not have permission, they are committing a crime.
  </p>
</main>
