<main>
  <h1>Software Developer</h1>
  <img src="Images/Software Dev on a laptop.png" />
  <br />
  <p>
    Software Developer is a really vague term and when someone says "I'm a Software Developer,"
    that explains just as much as saying you work in IT.
    For our purposes, Software Developer means someone who works designing, building, and testing software.

    There are further classifications of Software Developer, such as: Front-end Developer, Back-end Developer, and Full-stack Developer.
    These are the main types we will be focusing on.
    <br />
    <br /> <b>//add dev-ops? manages servers and deployments.</b>
    
  </p>
  <br />
  <br />
  <h2>Front-End Developer</h2>
  <p>
    Front-end Developer builds what the visual aspects of an app or website.
    This is going to be the text you read, the buttons you use, and other interactive elements such as animation.
    The languages commonly used for front-end developer for the web fall in the realm of JavaScript, HTML, and CSS.
    These three are considered the backbone of the web. <a href="https://w3techs.com/technologies/details/ml-html5">HTML is used by 96.8% of all the websites.</a> of all websites and JavaScript/CSS extend its functionality.
    <br />
    <br />
    HTML stands for Hypertext Markup Language and gives the structure of a webpage.
    CSS stands for Cascading Style Sheet and extends the functionality of HTML by allowing for styling.
    JavaScript is a programming language that allows for dynamic content on a webpage.
    There are examples below to show the syntax used in JavaScript, HTML, and CSS.
  </p>
  <div class="JS">
    <img src="" /> use this program's css for img
    <img src="" /> Use udemy for js examples
    <img src="" /> Possibly use this site for html examples, or previous website
  </div>

  <br />
  <br />
  <h2>Back-End Developer</h2>
  <p>
    Imagine your favorite game, you click on start and it loads. What's going on, why does it need to load?
    It's initializing the systems it needs and, if it's online, it's connecting to the server.
    This part is considered the back-end and is the part that the user doesn't see.
    The back-end handles logic and data management. Most programming languages can be used as a back-end and a
    few of the most popular are JavaScript (NodeJS), Java, C#, PHP, Python, Ruby, and Go.
    <br />
    <br />
    Figure out what to add when I'm not so tired.
  </p>
  <br />
  <br />
  <h2>Full-Stack Developer</h2>
  <p>
    Full-stack developers are a combination of front-end and back-end developers. It doesn't get much simpler than that.
    If there are still questions, Indeed has a great article on <a href="https://www.indeed.com/career-advice/career-development/full-stack-developer">Full-Stack Developers</a>.
  </p>
</main>
