<main>
  <h1>User Experience and User Interface Designers</h1>
  <p>
    UX and UI are important roles that can make or break a site or app's success.
    UX focuses on understanding user behavior, conducting user research, creating wireframes/prototypes, and performing usability tests to refine a user's experience.
    This is important to ensure an interface is intuitive and easy to use.
    UI focuses on the visual aspects of a product, including layout, color schemes, typography, and overall aesthetics.
    While these two roles are different, they both have the same purpose, create a product that is appealing to the user.
  </p>
  <h2>User Experience</h2>
  <p>
    <a href="https://lesley.edu/article/critical-ux-skills">UX designers need to be competent in visual language.</a>
    This means they need to understand concepts like <a href="https://lesley.edu/article/critical-ux-skills">layout, color, typography, icons, images, and design theory.</a>
    And then past that, they need to know how to apply them to the product.
    They will use <a href="https://www.userinterviews.com/blog/user-research-for-ux-designers">prototypes, wireframes, user stories, and user flows to help them design the product.</a>
    They will get user feedback from UX research and usability testing to help them refine the product.
    A great way to learn UX design is follow UX experts, see their thoughts and ideas.

  </p>
  <h2>User Interface</h2>
</main>
