<main>
  <h1>Game Development</h1>
  <figure>
    <img src="Images/Minecraft World.png" />
    <figcaption>Screenshot of my Redstone World in Minecraft</figcaption>
  </figure>
  <p>
    Game development is the process of creating video games, which involves a combination of programming, design, art, and sound.
    For many, it is a dream job that allows them to combine their passion for gaming with their technical skills.
    There are many roles and stages in Game Development.
    The stages generally fall under <a href="https://gamemaker.io/en/blog/stages-of-game-development">planning, pre-production, production, testing, pre-launch, launch, and post-launch.</a>
  </p>
  <h1>Game Development Stages</h1>
  <h2>Planning and Pre-Production</h2>
  <p>
    The planning stage is where the game idea is born.
    <a href="https://ilogos.biz/stages-of-game-development-your-guide-on-game-development-process">The development team defines the concept, establishes a vision and mission statement</a>.
    This will give the initial stepping stones needed to create a GDD (Game Design Document).
    <br />
    <br />
    The next stage, pre-production is where the GDD is created.
    The game design document will cover virtually everything about the game from the story, to characters, mechanics, and art style.
    This may include initial concept art and sketches.
    This document will be used as a reference throughout the lifespan of the game and is considered a "living document" in that it will be updated as the game progresses.
    There are many great examples <a href="https://gamescrye.com/resources/game-design-documents/">here.</a>
    Speaking from personal experience, if a GDD is not created or well formulated, it <b>will</b> lead to wasted time and story elements that do not make sense.
  </p>
  <h2>Production and Testing</h2>
  <p>
    This is easily the longest stage of game development.
    In the production stage the game is created which involves many steps.
    This includes choosing (or creating) the game engine, programming, creating art assets, sound design, and "level" design.
    <br />
    <br />
    The game engine is the backbone of the game and needs to be chosen wisely,
    different game engines have different strengths and while making one from scratch is an option,
    it will add months if not years to the development cycle.
    Programming is the process of using the game engine to create the game, they will take the mechanics, art, and sound and combine them to create the game.
    The art and sound defines the game's asthetic and atmosphere leading to a player's immersion.
    A well done game will draw the player back time and time again because they feel like they are part of the game.
    An important part of any game is the level design.
    Good levels, be they open world or linear, should keep the player engaged and allow for replayability.
    This can be done through side quests, collectibles, and secrets.
    However it is done, it is important the user feels the game offers an engaging experience worth exploring further.
    <br />
    <br />
    After production is complete, testing begins in ernest.
    This is where the game is tested for bugs, glitches, and overall playability.
    There are two primary ways to test a game, in-house testing and beta testing.
    In-house is the dev and QA (quality assurance) teams systematically test the game for bugs.
    And the other is to send it to beta, allow the public, or a select few, to playtest the game and report any bugs found.
  </p>
  <h2>Launch</h2>
  <p>
    This is the most important step of a game's success. The game needs to be polished enough users will enjoy it and not be turned off by bugs.
    This is where the user's perception of the game is formed.
    Listening to the community can work wonders for a game user's perception. Even with imperfections, if the community feels heard and that their feedback is being taken into account, they will be much more likely to stick with the game.
  </p>
  <h1>User Experience and User Interface Designers</h1>
  <p>
    UX and UI are also important roles that are commonly overlooked.
    UX focuses on understanding user behavior, conducting user research, creating wireframes/prototypes, and performing usability tests to refine a user's experience.
    This is important to ensure an interface is intuitive and easy to use.
    UI focuses on the visual aspects of a product, including layout, color schemes, typography, and overall aesthetics.
    While these two roles are different, they both have the same purpose, create a game (or product) that is appealing to the user.
    It is important to note that UX/UI are not soley limited to game dev, they play a pivotable role in app and web design.
  </p>
  <h2>User Experience</h2>
  <p>
    <a href="https://lesley.edu/article/critical-ux-skills">UX designers need to be competent in visual language.</a>
    This means they need to understand concepts like <a href="https://lesley.edu/article/critical-ux-skills">layout, color, typography, icons, images, and design theory.</a>
    And then past that, they need to know how to apply them to the game.
    They will use <a href="https://www.userinterviews.com/blog/user-research-for-ux-designers">prototypes, wireframes, user stories, and user flows to help them design the product.</a>
  </p>
  <h2>User Interface</h2>
  <p>
    <a href="https://www.coursera.org/articles/what-is-a-user-interface-ui-designer-guide">A UI designer is a tech professional who designs the graphical user interface (GUI) of an app, website, or device.</a>
    They are responsible for the look and feel of the product.
    A good UI is important for a user's immersion and experience as a clunky UI will draw users away from the game itself and cause them to get frustrated by simple tasks.
    They also need to know concepts <a href="https://www.coursera.org/articles/what-is-a-user-interface-ui-designer-guide">empathy, collaboration, design and prototyping tools, color theory, typography, and design patterns.</a>
    Once again, similar to UX designers, they then need to know how to apply this information which comes with experience.
  </p>
</main>
